body {
  width: 1280px;
  height: 1635px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  background-color: #A1887F;
  float: none;
}

img {
  display: inline-block;
}

header {
  width: 100%;
  height: 133px;
  background-color: #795548;
}

#iconContainer {
  display: inline-block;
  float: right;
  margin-right: 144px;
  margin-top: 37px;
}

header img {
  width: 129px;
  height: 100%;
}

#iconContainer img {
  width: 65px;
  height: 65px;
  margin-left: 36px;
  float: left;
}

#sliderbox {
  height: 616px;
  width: 100%;
  float: left;
  clear: both;
}

#content {
  width: 100%;
  height: 802px;
  /*background-color: #A1887F;*/
  margin-top: 0px;
  float: left;
}

#content div {
  display: inline-block;
}

#content div div {
  display: block;
}

#content div div img {
  height: 212px;
  width: 272px;
}
