body {
  width: 1280px;
  height: 1635px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  background-color: #A1887F;
  float: none;
}

* {
  font-family: 'Open Sans', sans-serif;
}

img {
  display: inline-block;
}

header {
  width: 100%;
  height: 133px;
  background-color: #795548;
}

#iconContainer {
  display: inline-block;
  float: right;
  margin-right: 144px;
  margin-top: 37px;
}

header img {
  width: 129px;
  height: 100%;
}

#iconContainer img {
  width: 65px;
  height: 65px;
  margin-left: 36px;
  float: left;
}

#sliderbox {
  height: 616px;
  width: 100%;
  float: left;
  clear: both;
}

#article {
  width: 1188px;
  height: 802px;
  /*background-color: #A1887F;*/
  margin-top: 0px;
  margin-left: 46px;
  margin-right: 46px;
  float: left;
}

#article h1 {
  color: white;
}

.contentContainer {
  display: inline-block;
  float: left;
  width: 270px;
  margin-right: 36px;
}

#article div:last-child {
  margin-right: 0px;
}

.contentContainer div {
  display: block;
  float: left;
}

.contentContainer div img {
  height: 212px;
  width: 100%;
  float: left;
}

.content {
  background-color: white;
  height: 315px;
  width: 100%;
  border-radius: 3em;
  padding: 0px;
}

.triangle {
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 38px solid white;
  border-left: 19px solid transparent;
  margin-left: 116px;
  margin-right: 116px;
}

.content ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin-top: 16px;
}

.content  li + li:before {
  content: "";
  display: block;
  height: 1px;
  width: 80%;
  margin: 0px 10% 0px 10%;
  background: black;
  margin-bottom: 16px;
}

.content ul li {
  font-size: 2em;
}

 footer {
   width: 100%;
   height: 99px;
   background-color: #795548;
   float: left;
   font-size: 1em;
   color: white;
 }

 footer h2:first-child {
   float: left;
   margin-left: 46px;
   margin-top: 1.5em;
 }

 footer h2:nth-child(2) {
   float: right;
   margin-right: 46px;
   margin-top: 1.5em;
 }
