body {
  background-color: #A1887F;
  margin: 0px;
  padding: 0px;
}

/*設定網頁主體大小*/
#innerBody {
  width: 1280px;
  height: 1435px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  float: none;
}

.test {
  background-color: black;
}

/*設定整個網頁用的字型*/
* {
  font-family: 'Open Sans', sans-serif;
}

img {
  display: inline-block;
}

/*主導覽列*/
header {
  width: 100%;
  height: 100px;
  background-color: #795548;
  text-align: center; /*置中對齊*/
}

/*用div包起來這樣<1280px時才不會飄下去*/
header > div {
  display: inline-block;;
  width: 1280px;
  height: 100%;
}

/*放icon用div*/
#iconContainer {
  display: inline-block;
  float: right;
  margin-top: 18px;
  margin-left: -36px;/*抵銷最右icon margin*/
}

#logo {
  display: inline-block;
  width: 120px;
  height: 100%;
  float: left;
}

/*icons*/
#iconContainer img {
  width: 65px;
  height: 65px;
  margin-left: 36px;
  float: left;
}

/*大圖*/
#sliderbox {
  height: 616px;
  width: 100%;
  float: left;
  clear: both;
}

/*內容部分大小設定*/
#article {
  width: 1188px;
  height: 802px;
  margin: 0px 46px 0px 46px;
  float: left;
}

/*標題*/
#article h1 {
  color: white;
  margin: 1em 0px 1em 0px;
}

/*四大區塊的class*/
.contentContainer {
  display: inline-block;
  float: left;
  width: 270px;
  margin-right: 36px;
}

/*最後一個不要margin*/
#article div:last-child {
  margin-right: 0px;
}

.contentContainer div {
  display: block;
  float: left;
}

.imageContainer {
  height: 212px;
  width: 100%;
  position: relative;
}

/*設定內容圖片*/
.imageContainer img {
  height: 100%;
  width: 100%;
  float: left;
  position: absolute;
}

.imageContainer div {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  padding-top: 96px;
  box-sizing: border-box;
  font-size: 2em;
  color: white;
  display: none;
  background-color: rgba(78, 52, 46, 0.8);
  border-radius: 5px;
}

/*內容方塊*/
.content {
  background-color: white;
  height: 315px;
  width: 100%;
  border-radius: 3em;
  padding: 0px;
}

/*內容方塊上的三角形*/
.triangle {
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 38px solid white;
  border-left: 19px solid transparent;
  margin-left: 116px;
  margin-right: 116px;
}

/*內容list*/
.content ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin-top: 16px;
}

/*每一項中間的橫線*/
.content  li + li:before {
  content: "";
  display: block;
  height: 1px;
  width: 80%;
  margin: 0px 10% 0px 10%;
  background: black;
  margin-bottom: 16px;
}

.content ul li a {
  font-size: 2em;
  text-decoration: none;
  color: #3E2723
}

.content ul li a:hover {
  color: blue;
}

/*頁腳*/
footer {
   width: 100%;
   height: 100px;
   background-color: #795548;
   float: left;
   font-size: 1em;
   color: white;
   text-align: center; /*讓整個頁腳內容置中*/
 }

/*頁角div*/
 footer > div {
   width: 1280px; /*設定頁腳內容寬度*/
   height: 100%;
   display: inline-block;
 }

 footer h2:first-child {
   margin-top: 1.5em;
   display: inline-block;
   float: left;
 }

 footer h2:nth-child(2) {
   margin-top: 1.5em;
   display: inline-block;
   float: right;
 }
